<div class="home-container">
    <h1>Bienvenido al Mejor Cinema 🎥✨</h1>
    <p>Disfruta de la mejor experiencia cinematográfica con nosotros.</p>
  
    <div class="features">
      <mat-card class="feature-card">
        <mat-icon>movie</mat-icon>
        <h3>Las mejores películas en cartelera</h3>
      </mat-card>
  
      <mat-card class="feature-card">
        <mat-icon>local_pizza</mat-icon>
        <h3>Las palomitas más deliciosas</h3>
      </mat-card>
  
      <mat-card class="feature-card">
        <mat-icon>event_seat</mat-icon>
        <h3>Reserva tus asientos fácilmente</h3>
      </mat-card>
  
      <mat-card class="feature-card">
        <mat-icon>star</mat-icon>
        <h3>Una experiencia de cine única</h3>
      </mat-card>
    </div>
  </div>
  