<h2>Selecciona tus Asientos</h2>

<div class="seating">
  <div *ngFor="let row of seats; let rowIndex = index" class="row">
    <button *ngFor="let seat of row; let colIndex = index"
            [class.selected]="selectedSeats.includes(rowIndex * seats[0].length + colIndex)"
            [class.occupied]="isSeatOccupied(rowIndex, colIndex)"
            [disabled]="isSeatOccupied(rowIndex, colIndex)"
            (click)="toggleSeat(rowIndex, colIndex)">
      {{ rowIndex * seats[0].length + colIndex + 1 }}
    </button>
  </div>
</div>

<div class="confirm-button">
  <button mat-raised-button color="primary" (click)="confirmReservation()">Confirmar Reserva</button>
</div>